header {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: darkslategray;
}

#logo {
    color: white;
}

#admin button, #logout button{
    float: right;
}

#sort{
    max-width: 250px;
}

.response{
    border: 1px solid grey;
    padding: 5px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.message-time{
    float: right;
}

.form-response{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: darkslategray;
}